PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xr4tur3.mongodb.net/kuldeep_studio?retryWrites=true&w=majority
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
BUNNY_STREAM_LIBRARY_ID=
BUNNY_STREAM_API_KEY=
